@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

html, body {
    margin: 0;
    background-color: $color-background;
    color: $color-text;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, textarea, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    height: $header-height-mobile;
    position: absolute;
    width: 100%;

    @include responsive(desktop) {
        height: $header-height-desktop;
    }
}

.container {
    max-width: $breakpoint-desktop;
    margin: auto;
    padding: ($header-height-mobile + $size-md) $size-md 0 $size-md;

    @include responsive(desktop) {
        padding-top: ($header-height-desktop + $size-lg);
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

a, a.router-link-active {
    text-decoration: none;
    color: $color-text;
}

.section {
    margin-bottom: $size-lg;
}

.layout {
    & .layout__title {
        font-size: $text-xl;
        font-weight: 600;

        @include responsive(mobile) {
            font-size: $text-md;
        }
    }

    & .layout__logo {
        display: flex;
        flex-wrap: nowrap;

        & img {
            margin-right: $size-sm;
        }
    }
}